@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fed253;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #343b00;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --text-base: 4rem;
}
